<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.poncn.dao.OrderItemDao">

<!--auto generated Code-->
    <!--    <resultMap id="AllColumnMap" type="com.poncn.entity.OrderItem">-->
    <!--        <result column="id" property="id"/>-->
    <!--        <result column="pid" property="pid"/>-->
    <!--        <result column="oid" property="oid"/>-->
    <!--        <result column="uid" property="uid"/>-->
    <!--        <result column="number" property="number"/>-->
    <!--    </resultMap>-->

    <resultMap id="AllColumnMap" type="com.poncn.entity.OrderItem">
        <id column="id" property="id"/>
        <result column="uid" property="uid"/>
        <result column="number" property="number"/>
        <association property="OIOrder" javaType="com.poncn.entity.Order">
            <id column="oid" property="id"/>
            <result column="orderCode" property="orderCode"/>
            <result column="address" property="address"/>
            <result column="post" property="post"/>
            <result column="receiver" property="receiver"/>
            <result column="mobile" property="mobile"/>
            <result column="userMessage" property="userMessage"/>
            <result column="createDate" property="createDate"/>
            <result column="payDate" property="payDate"/>
            <result column="deliveryDate" property="deliveryDate"/>
            <result column="confirmDate" property="confirmDate"/>
            <result column="uid" property="uid"/>
            <result column="status" property="status"/>
        </association>
        <collection property="OIProduct" ofType="com.poncn.entity.Product">
            <id column="pid" property="id"/>
            <result column="name" property="name"/>
            <result column="subTitle" property="subTitle"/>
            <result column="originalPrice" property="originalPrice"/>
            <result column="promotePrice" property="promotePrice"/>
            <result column="stock" property="stock"/>
            <result column="cid" property="cid"/>
            <result column="createDate" property="createDate"/>
        </collection>
    </resultMap>

    <sql id="all_column">
        id,
        pid,
        oid,
        uid,
        number
    </sql>


    <insert id="insert">
        INSERT INTO orderitem
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != 0">id,</if>
            <if test="pojo.pid != 0">pid,</if>
            <if test="pojo.oid != 0">oid,</if>
            <if test="pojo.uid != 0">uid,</if>
            <if test="pojo.number != 0">number,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != 0">#{pojo.id},</if>
            <if test="pojo.pid != 0">#{pojo.pid},</if>
            <if test="pojo.oid != 0">#{pojo.oid},</if>
            <if test="pojo.uid != 0">#{pojo.uid},</if>
            <if test="pojo.number != 0">#{pojo.number},</if>
        </trim>
    </insert>


    <insert id="insertList">
        INSERT INTO orderitem(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.pid},
            #{pojo.oid},
            #{pojo.uid},
            #{pojo.number}
            )
        </foreach>
    </insert>


    <update id="update">
        UPDATE orderitem
        <set>
            <if test="pojo.id != null"> id = #{pojo.id}, </if>
            <if test="pojo.pid != null"> pid = #{pojo.pid}, </if>
            <if test="pojo.oid != null"> oid = #{pojo.oid}, </if>
            <if test="pojo.uid != null"> uid = #{pojo.uid}, </if>
            <if test="pojo.number != null"> number = #{pojo.number} </if>
        </set>
         WHERE id = #{pojo.id}
    </update>


    <select id="select" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM orderitem
        <where>
            <if test="pojo.id != null"> AND id = #{pojo.id} </if>
            <if test="pojo.pid != null"> AND pid = #{pojo.pid} </if>
            <if test="pojo.oid != null"> AND oid = #{pojo.oid} </if>
            <if test="pojo.uid != null"> AND uid = #{pojo.uid} </if>
            <if test="pojo.number != null"> AND number = #{pojo.number} </if>
        </where>
        LIMIT 1000
    </select>

    <select id="queryByUid" resultMap="AllColumnMap">
         select o.*,p.*,oi.* from `order` o,product p,orderitem oi where oi.uid =#{uid} and oi.oid=o.id and oi.pid=p.id
    </select>
    <select id="queryByCart" resultMap="AllColumnMap">
       select p.name, p.subTitle, p.originalPrice, p.promotePrice, p.stock, p.cid, p.createDate,oi.id, oi.pid, oi.oid, oi.uid, oi.number from product p,orderitem oi where oi.uid =#{uid} and oid IS NULL and oi.pid = p.id

    </select>


    <delete id="delete">
        DELETE FROM orderitem where id = #{id}
    </delete>
</mapper>
