<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.poncn.dao.PropertyValueDao">

<!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.poncn.entity.PropertyValue">
        <id column="pvid" property="id"/>
        <result column="pid" property="pid"/>
        <result column="value" property="value"/>
        <association property="property" javaType="com.poncn.entity.Property">
            <id column="ptid" property="id"/>
            <result column="cid" property="cid"/>
            <result column="name" property="name"/>
        </association>
    </resultMap>

<!--auto generated Code-->
    <sql id="all_column">
        id,
        pid,
        ptid,
        value
    </sql>

<!--auto generated Code-->
    <insert id="insert">
        INSERT INTO propertyvalue
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> id, </if>
            <if test="pojo.pid != null"> pid, </if>
            <if test="pojo.ptid != null"> ptid, </if>
            <if test="pojo.value != null"> value, </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> #{pojo.id}, </if>
            <if test="pojo.pid != null"> #{pojo.pid}, </if>
            <if test="pojo.ptid != null"> #{pojo.ptid}, </if>
            <if test="pojo.value != null"> #{pojo.value}, </if>
        </trim>
    </insert>

<!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO propertyvalue(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.pid},
            #{pojo.ptid},
            #{pojo.value}
            )
        </foreach>
    </insert>

<!--auto generated Code-->
    <update id="update">
        UPDATE propertyvalue
        <set>
            <if test="pojo.id != null"> id = #{pojo.id}, </if>
            <if test="pojo.pid != null"> pid = #{pojo.pid}, </if>
            <if test="pojo.ptid != null"> ptid = #{pojo.ptid}, </if>
            <if test="pojo.value != null"> value = #{pojo.value} </if>
        </set>
         WHERE id = #{pojo.id}
    </update>

<!--auto generated Code-->
    <select id="select" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM propertyvalue
        <where>
            <if test="pojo.id != null"> AND id = #{pojo.id} </if>
            <if test="pojo.pid != null"> AND pid = #{pojo.pid} </if>
            <if test="pojo.ptid != null"> AND ptid = #{pojo.ptid} </if>
            <if test="pojo.value != null"> AND value = #{pojo.value} </if>
        </where>
        LIMIT 1000 
    </select>

    <select id="queryByPid" resultMap="AllColumnMap">
       SELECT  p.cid, p.name,pv.id pvid, pv.pid, pv.ptid, pv.value FROM propertyvalue pv,property p where pv.pid =#{pid} and pv.ptid=p.id
    </select>


    <!--auto generated Code-->
    <delete id="delete">
        DELETE FROM propertyvalue where id = #{id}
    </delete>
</mapper>
